<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Header page</title>
</head>
<body>
    <div class="headerbar">
        <h1 id="h1">checkpointNodejs</h1>
        <div class="navbar">
            <a href="/" class="link">HOME</a>
            <a href="/Services" class="link">SERVICES</a>
            <a href="/Contact" class="link">CONTACT US</a>
        </div>
    </div>
</body>
</html>