<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
        <%- include("../Base/header")%>
    </header>
    <h1 class="home">This is our home page. You are welcome!</h1>
    <div id="images">
    <img src="/public/assets//image/image 2.jpg" alt="image1">
    <img src="/public/assets/image/pic-1.jpg" alt="image2">
    <img src="/public//assets//image/pic-10.jpg" alt="image3">
    <img src="/public/assets/image/ray.jpg" alt="student image">
    </div>
    <footer>
        <%- include("../Base/footer")%>
    </footer>
  </body>
</html>
