<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services page</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header> <%- include("../Base/header")%></header>
    <h1 class="services">Our services are as follows:</h1>
    <p id = "lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis impedit itaque repellendus! Voluptatum blanditiis possimus, incidunt, quod atque quidem expedita reprehenderit cumque, minima excepturi praesentium dolorem. Modi, doloribus laborum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis nihil impedit nostrum obcaecati. Necessitatibus nulla temporibus, sed ad dolor vel assumenda id autem fugit possimus eius tenetur debitis distinctio magni ea ducimus veniam nesciunt cupiditate vero asperiores sint eos officia porro. Soluta in consequatur tempore quia nihil delectus asperiores eum. Debitis facere sapiente optio, impedit dignissimos assumenda quidem culpa quas illo! Repellat maxime eum illum qui consequatur! Mollitia debitis blanditiis asperiores odit quam placeat, inventore laudantium? Quod eum laboriosam ut eveniet cupiditate nihil ad, reprehenderit, quas est possimus soluta facilis sint facere deleniti tenetur distinctio harum minus neque quos molestias!</p>
    <footer> <%- include("../Base/footer")%></footer>
</body>
</html>